@model VehicleRentalProject.Web.Models.ViewModels.ApplicationUserViewModels.UserDetailViewModel

@{
    ViewData["Title"] = "UpdateUserDetail";
}

<h1>Update User Detail</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateUserDetail" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivingLicense" class="control-label"></label>
                <input asp-for="DrivingLicense" class="form-control" />
                <span asp-validation-for="DrivingLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoProfId" class="control-label"></label>
                <input asp-for="PhotoProfId" class="form-control" />
                <span asp-validation-for="PhotoProfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

